.barra-up
{
    position: relative;
    margin-top: -7px;
    margin-left: -25%; 
    width: 166.7%;
    height: 7%;
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: lighten;
}

.nome
{
    position: inherit;
    font-size: xx-large;
    margin-top: -70px;
    margin-left: 65px;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.txt1
{
    margin-top: 10%;
    border-radius: 10px;
    width: 100%;
    height: 75.6%;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 200%);
    width: 150%; 
    margin-left: -20%;
}

.art-sx
{
    margin-top: 10%;
    margin-left: -19%;
    border-radius: 20px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
   
}

.art-dx
{
    position: absolute;
    right: 2%;
    margin-top: 12%;  
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); border-radius: 20px;
}

.saluti
{
    position: absolute; 
    top: 25%; 
    left: 13%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

.scritte
{
    margin-left: 0.5%;
    margin-top: -8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.caselle
{
    position: absolute;
    margin-top: -2.7%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.user-section
{
    position: relative;
    margin-top: -80px;
    left: 90%;
    width: 0%;
    aspect-ratio: 1/2;
}

.nacc
{
    position: inherit;
    margin-top: -25px;
    margin-left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: large;
}

.cambio-tema-tx
{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 14.6%;
    right: 13.5%;
    border-radius: 8px;
}

.cambio-tema
{
    background-image: inherit;
}

a
{
    text-decoration: none; 
    color: black;
}
